<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Escolar</title>
    <style>
        * {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <h1 align="center">Sistema FatecADS</h1>
    <h3 align="center"><a href="/alunos/listar">Gerenciar Alunos</a></h3>
    <h3 align="center"><a href="/cursos/listar">Gerenciar Curso</a></h3>
    <h3 align="center"><a href="/alunos/listar-nome-telefone">Curso</a></h3>
    <a th:href="@{/logout}" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">Sair</a>
    <form th:action="@{/logout}" id="logout-form" method="post">
</body>
</html>